form.ui.form.form-register(action="/auth/register" method="POST")
  .field
    label(for="reg-email") Email
    input.form-register__input(id="reg-email" name="email" placeholder="Email")
    .ui.form-register__message.label.prompt.pointing.red.transition.hidden Введите Email
  .field
    label(for="reg-password") Пароль
    input.form-register__input(id="reg-password" name="password" type="password")
    .ui.form-register__message.label.prompt.pointing.red.transition.hidden Введите пароль
  .field
    label(for="confirmPassword") Подтвердите пароль
    input.form-register__input(id="confirmPassword" name="confirmPassword" type="password")
    .ui.form-register__message.label.prompt.pointing.red.transition.hidden Введите пароль второй раз
  .field
    label(for="name") Имя
    input.form-register__input(id="name" name="name")
  button.ui.button Зарегистрироваться
script(src="/assets/js/forms/register.js" defer)
