form.ui.form.form-add-course(action="/course/add" method="POST")
  .field.required
    label(for="title") Название
    .field.inline
      input.form-add-course__input(id="title" name="title" placeholder="Frontend Developer")
      .ui.form-add-course__message.label.prompt.pointing.red.transition.hidden Введите название курса
  .field.required
    label(for="price") Стоимость
    input.form-add-course__input(id="price" name="price" type="number" min="0" placeholder="1488" value="0")
    .ui.form-add-course__message.label.prompt.pointing.red.transition.hidden Введите стоимость курса
  .field
    label(for="logoUrl") Логотип
    input.form-add-course__input(id="logoUrl" name="logoUrl" placeholder="URL")
  button.ui.button Добавить
script(src="/assets/js/forms/validate.js" defer)
